*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Quicksand, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.gameboard-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard {
  position: relative;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
  font-size: 10vmin;
  padding: 2vmin;
  width: 19vmin;
  height: 19vmin;
  border: 6px solid #2c3e50;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.gameboard-info {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard-info .highlight-player {
  min-width: 1rem;
  display: inline-block;
}

.gameboard-info span {
  color: #2c3e50;
  text-decoration: underline;
}

.game-over-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 1;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.current-player {
  color: red;
  text-decoration: underline;
}

.player-turn-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#reset-btn {
  margin-top: 1rem;
  background-color: transparent;
  cursor: pointer;
  color: #777;
  transition: color 0.5s ease;
  font-size: 3rem;
}

.reset-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  #reset-btn:hover {
    color: red;
  }
}
